/* pt-serif-700 - cyrillic */
@font-face {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-serif-v12-cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/pt-serif-v12-cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/pt-serif-v12-cyrillic-700.woff2") format("woff2"), url("../fonts/pt-serif-v12-cyrillic-700.woff") format("woff"), url("../fonts/pt-serif-v12-cyrillic-700.ttf") format("truetype"), url("../fonts/pt-serif-v12-cyrillic-700.svg#PTSerif") format("svg");
  /* Legacy iOS */
}

/* roboto-regular - cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v27-cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v27-cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v27-cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v27-cyrillic-regular.woff") format("woff"), url("../fonts/roboto-v27-cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-v27-cyrillic-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-500 - cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v27-cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v27-cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v27-cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v27-cyrillic-500.woff") format("woff"), url("../fonts/roboto-v27-cyrillic-500.ttf") format("truetype"), url("../fonts/roboto-v27-cyrillic-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-700 - cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v27-cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v27-cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v27-cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v27-cyrillic-700.woff") format("woff"), url("../fonts/roboto-v27-cyrillic-700.ttf") format("truetype"), url("../fonts/roboto-v27-cyrillic-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}

:root {
  --main-white-color: #ffffff;
  --text-color: #000000;
  --border-color: #d9d9de;
  --header-footer-bgr-color: #202020;
  --button-border-color: rgba(255, 255, 255, 0.5);
  /* --inner-margin: 32px; */
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Hidden Title */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0;
}

.section-tours {
  padding-top: 64px;
  padding-bottom: 64px;
}

.container {
  width: 1120px;
  margin: 0 auto;
  outline: red;
}

.header-page {
  position: relative;
  max-width: 1920px;
  height: 940px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 33px;
  background-color: var(--header-footer-bgr-color);
  background-image: url(../../images/header-bgr-image.jpg);
  background-size: cover;
}

.header-page::after {
  content: "";
  border: 1px solid white;
  width: 100%;
}

.header-page__line {
  position: absolute;
  color: var(--border-color);
  size: 1px;
  width: 100%;
  top: 72px;
}

.topbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.logo__content {
  margin-left: 20px;
}

.logo__title {
  font-family: PT Serif, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  color: var(--main-white-color);
}

.logo__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */
  color: var(--main-white-color);
}

.header-contacts {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.header-contacts__item {
  margin-right: 33px;
}

.header-contacts__link {
  display: inline-block;
  padding-top: 28px;
  padding-bottom: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
  color: var(--main-white-color);
  text-decoration: none;
}

.button {
  display: inline-block;
  min-width: 186px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: 1px solid var(--button-border-color);
  border-radius: 22px;
  padding: 13px 30px 17px 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  color: var(--main-white-color);
  background-color: transparent;
  cursor: pointer;
}

.site-nav {
  padding-top: 20px;
  padding-bottom: 106px;
}

.site-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav__item {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.187;
  /* identical to box height */
  color: var(--main-white-color);
}

.site-nav__item:not(:last-child) {
  margin-right: 32px;
}

.site-nav__link {
  text-decoration: none;
  color: var(--main-white-color);
}

.hero-title {
  max-width: 660px;
  margin-bottom: 8px;
  font-family: PT Serif;
  font-style: normal;
  font-weight: 700;
  font-size: 90px;
  line-height: 1.3;
  /* or 117px */
  color: var(--main-white-color);
}

.hero-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  /* or 28px */
  color: var(--main-white-color);
}

.hero-button {
  min-width: 250px;
  border-radius: 30px;
  padding: 19px 53px 20px 53px;
  margin-top: 94px;
  margin-bottom: 195px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.166;
  /* identical to box height */
  text-transform: uppercase;
  text-decoration: none;
}

.arrow-link {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  padding: 11px 14px;
  border: 1px solid var(--main-white-color);
  border-radius: 50%;
  color: var(--main-white-color);
  text-decoration: none;
  text-align: center;
}

.arrow-link--centered {
  display: inline-block;
  position: absolute;
  -webkit-transform: translate(-50%, -30%);
          transform: translate(-50%, -30%);
  font-size: 23px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tours__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 32px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.tours__item {
  padding-bottom: 16px;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  overflow: hidden;
  background-color: var(--main-white-color);
}

.tours__link {
  display: block;
  width: 100%;
  height: auto;
  text-decoration: none;
}

.tours__image {
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 100%;
  object-fit: contain;
}

.tours__subtitle {
  padding-left: 19px;
  margin-top: 13px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  /* identical to box height */
  color: var(--text-color);
}
/*# sourceMappingURL=main.css.map */