/* СЕКЦИЯ КАТЕГОРИИ */
:root {
  --main-white-color: #ffffff;
  --text-color: #000000;
  --border-color: #d9d9de;

  /* --inner-margin: 32px; */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  width: 1150px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.section {
  padding-top: 64px;
  padding-bottom: 64px;
}

/* Hidden Title */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.tours-list {
  padding: 0;

  display: flex;
  flex-wrap: wrap;

  margin-top: -32px;
  margin-left: -32px;
  margin-bottom: 0;

  list-style: none;
}

.tours-item {
  max-width: 256px;
  margin-top: 32px;
  margin-left: 32px;

  border: 1px solid var(--border-color);
  border-radius: 6px;

  overflow: hidden;
  background-color: var(--main-white-color);
}

.tours-link {
  display: block;
  width: 100%;
  height: auto;
  text-decoration: none;
}
.tours-image {
  display: block;
  object-fit: contain;
  max-width: 100%;
  object-fit: contain;
}

.tours-text-box {
  padding-top: 13px;
  padding-bottom: 16px;
  padding-left: 19px;
}

.tours-title {
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;

  font-size: 16px;
  line-height: 1.187;
  /* identical to box height */
  color: var(--text-color);
}

.site-nav__list {
  list-style: none;
}
.site-nav {
  display: flex;
  align-items: center;
}
.site-nav__item:not(:last-child) {
  margin-right: 50px;
}
.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color var(--time-cubic);
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__link--current {
  position: relative;
  color: var(--accent-color);
}

.page-header__pseudo::after {
  content: '';
  position: absolute;
  background-image: url(../images/icons/hover.svg);
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 2px;