:root {
  --main-white-color: #ffffff;
  --text-color: #000000;
  --border-color: #d9d9de;

  --header-footer-bgr-color: #202020;
  --button-border-color: rgba(255, 255, 255, 0.5);

  /* --inner-margin: 32px; */
}
